<!doctype html>
<html lang="en">
<head>
<title>Result</title>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
<form action="" method="post">
		<label>Result Portal</label>
    <input type="text" name="regno" placeholder="Register Number" required>
    <div>
		  <label for="dob">Date of Birth</label>
		  <input id="dob" type="date" name="dob" placeholder="Date of Birth" max="2000-01-01" required>
    </div>
    <input type="text" name="captcha" placeholder="Verification Code" required>
    <img src="/img/captcha.jpg" alt="captcha">
    <input type="submit">
</form>
</body>
</html>
